.page-category-inner .top-line .search-wrap {
  display: none !important;
}
.top-line .content-width .volume-wrap{
margin: 0 !important;
}
.top-menu-wrap {
  flex: 1 1 auto;
}
.page-pack .favorites .right .line .search-wrap .wrap {
  width: unset !important;
  flex: 1 1 auto;
}
.page-pack .title-wrap {
  width: unset !important;
  margin-right: 20px !important;
}
.page-pack .favorites .right .line.is-back .search-wrap {
  flex-wrap: nowrap !important;
}
.music-block .item-music {
  gap: 20px;
  justify-content: stretch !important;
}
.music-block .item-music .name-file {
  flex: 1 1 auto;
}

@media (max-width: 1900px) {
  .volume-wrap {
    display: block !important;
  }
  .music-block .item-music {
    justify-content: stretch !important;
  }
}
@media (max-width: 1400px) {
  .volume-wrap {
    display: block !important;
  }
}

@media (max-width: 1150px) {
  .page-category-inner .top-line .logo {
    flex: 1 1 auto;
  }
  .page-category-inner .top-line .content-width {
    gap: 20px;
  }
}

@media (min-width: 767px) {
  .big-filter-wrap-app {
    display: none;
  }
}
@media (max-width: 767px) {
  .title-wrap {
    width: unset !important;
  }
}

@media (max-width: 568px) {
  .music-block .skin-wave.skin-wave-mode-normal .ap-controls .con-controls {
    top: 35% !important;
  }
}
